
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #011E2E;
  color: #ffffff;
  position: relative;
}


.description  {
  color: var(--Udgam-White, #F4F5F6);
  font-family: "PP Mori";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.footer-section h1 {
  color: var(--Udgam-White, #F4F5F6);
  font-family: "PP Mori", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* margin-bottom: 20px; */
}

.footer-section p {
  color: var(--Udgam-White, #F4F5F6);
  font-family: "PP Mori", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-icons {
  display: flex;
  gap: 10px;
}
.glow-on-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.footer-bottom {
  text-align: center;
  
  width: 100%;
  font-size: 14px;
  color: #d1d1d1;
}

