.App {
    position: relative;
    /* z-index: 0; */
  }

  
  .content {
    position: relative;
    z-index: 1; /* Ensures it is above the SVG background */
    padding: 20px;
  }
  
  .red-dot {
    position: absolute;
    z-index: 1; /* Ensure it's visible over the background */
  }
  .svg-overlay {
    position: absolute;
    top: calc(105vh);
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: calc(535vh); /* Default height for large screens */
    z-index: -1; /* Place SVG in the background */
    overflow: hidden; /* Prevent any overflow */
  }
  
  .responsive-svg {
    width: 100%; /* Make the SVG responsive */
  }
  
  @media (max-width: 1024px) {
    .svg-overlay {
      top: calc(96vh); /* Adjust top for standard laptops */
      height:calc(747vh); /* Adjust height proportionally */
    }
  }
  
  @media (max-width: 768px) {
    .svg-overlay {
      top: calc(95vh);
      height: calc(788vh);
    }
  }
  
  @media (max-width: 640px) {
    .svg-overlay {
      top: calc(97.2vh); /* Adjusted value for 640px width */
      height: calc(1037.8vh); /* Adjusted height */
    }
  }
  
  @media (max-width: 320px) {
    .svg-overlay {
      top: calc(105vh); /* Adjusted for smaller devices */
      height: calc(1700vh); /* Example extrapolation */
    }
  }
  
  