.card{
    position: relative;
    top: -75px;
    width: 100%;
    z-index: 100;
}
.quote{
    color: #4E4E4E;
    text-align: center;
    font-family: "PP Mori";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media(max-width:560px){
    .card img{
        width: 100%;
    }
    .quote{
        font-size: 16px;
    }
}