
.title7{
    position: absolute;
    transform: translateX(700px)translateY(-540px);
    font-weight: bolder;
    font-size: 53.6px;
    color:#F6D6B1;
    text-shadow: gray;
}
.details7{
    position: absolute;
    transform: translateX(700px)translateY(-430px);
    color:#F6D6B1;
    text-align: left;
    font-family: "PP Mori", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    line-height: 120%;
    text-transform: capitalize;
}
.btn7{
    position: absolute;
    transform: translateX(700px)translateY(-220px);
    font-size: 16px;
    background-color: #EF545F;
    font-weight:bold ;
    padding: 10px 20px;
    border-style: none;
    cursor: pointer;
}
@media(min-width:2560px){   
    .title7{
        transform: translateX(1200px)translateY(-950px);
        font-size: 100px;
    }
    .details7{
        transform: translateX(1200px)translateY(-800px);
        font-size: 36px;
    }
    .btn7{
        transform: translateX(1200px)translateY(-400px);
        font-size: 36px;
        padding: 20px 40px;
    }

}
@media(max-width:1024px){   
    .title7{
        transform: translateX(480px)translateY(-385px);
        font-size: 43.6px;
    }
    .details7{
        transform: translateX(480px)translateY(-310px);
        font-size: 12px;
    }
    .btn7{
        transform: translateX(480px)translateY(-155px);
        font-size: 14px;
        padding: 2px 4px;
    }
} 
@media(max-width:768px){   
    .title7{
        transform: translateX(370px)translateY(-285px);
        font-size: 32px;
    }
    .details7{
        transform: translateX(370px)translateY(-225px);
        font-size: 8px;
    }
    .btn7{
        transform: translateX(370px)translateY(-115px);
        font-size: 10px;
        padding: 2px 4px;
    }
}
@media(max-width:430px){   
    .title7{
        transform:translateX(206px) translateY(-160px);
        font-size: 18px;
    }
    .details7{
        transform: translateX(205px)translateY(-131px);
        font-size: 4px;
    }
    .btn7{
        transform: translateX(205px)translateY(-68px);
        font-size: 5px;
        padding: 2px 4px;
    }
}
@media(max-width:375px){   
    .title7{
        transform: translateX(182px)translateY(-142px);
        font-size: 13.6px;
    }
    .details7{
        transform: translateX(182px)translateY(-115px);
        font-size: 4px;
    }
    .btn7{
        transform: translateX(182px)translateY(-60px);
        font-size: 5px;
        padding: 2px 4px;
    }
}
@media(max-width:320px){   
    .title7{
        transform: translateX(152px)translateY(-120px);
        font-size: 12.6px;
    }
    .details7{
        transform: translateX(152px)translateY(-98px);
        font-size: 3.5px;
    }
    .btn7{
        transform: translateX(152px)translateY(-51px);
        font-size: 5px;
        padding: 2px 4px;
    }
}